body {
  background: #241569;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 700px;
  margin: 40px auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}

.form input,
.form select,
.form button {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
}

button {
  background: #205d86;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background: #205d86;
  color: white;
}

td,
th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
/* resultado */
.resultado {
  margin-top: 20px;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 6px;
  text-align: center;
}

.resultado p {
  font-size: 24px;
  font-weight: bold;
}
/* Contenedor de navegaci贸n */
nav {
  position:relative;
  padding: 10px 20px;
  background-color: #241569;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Botones de navegaci贸n */
nav a {
  text-decoration: none;
  color: rgb(252, 235, 235);
  font-weight: 300;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #241569;
  transition: all 0.2s ease;
  margin-right: 10px;
}

nav a:hover {
  background-color: #190831;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Bot贸n de Historial en esquina superior derecha */
nav a:last-child {
  position: absolute;
  right: 20px;
  top: 2px;
}

/* Bot贸n Volver al inicio */
.btn-volver {
  display: inline-block;
  padding: 10px 20px;
  background: #7e58a1;          
  color: white;                  
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;          
}


.btn-volver:hover {
  background: #5f3f8b;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}


.btn-volver:active {
  transform: translateY(1px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
